*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.list-container{
    margin: auto;
    max-width: 80%; 
    padding: 34px;
}

.list-container h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

table{
    margin: auto;
    text-align: center;
    color: white;
    padding: 34px;
}

table, th, td {
    border: 1px solid white;
}

table th{
    text-transform: uppercase;
    padding: 15px;
    font-size: 20px;
}

table td{
    text-transform: uppercase;
    padding: 5px;
    font-size: 15px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    filter: brightness(150%);
}

.btn{
    color: black;
    background: whitesmoke;
    padding: 8px 12px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}